# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# they will be requested for review when someone opens a pull request.
*       @alonalmog82

# You can be more specific for certain paths/files
/src/   @alonalmog82
*.py    @alonalmog82
/docs/  @alonalmog82

# For workflows and critical files
/.github/workflows/   @alonalmog82
Dockerfile           @alonalmog82